.all-projects {
  margin: 5rem auto;
  padding: 2rem;
  & h1 {
    padding: 2rem 0;
  }
  & .all-projects-container {
    display: grid;
    gap: 2rem;

    & .single-project {
      & .project-image-container {
        position: relative;
        overflow: hidden;
        &:hover .load{
          transform: translateX(0);
        }
        & .load{
        transition: all 0.5s linear;
        display: inline-block;
        position: absolute;
        bottom:0;
        z-index: 1;
        width: 100%;
        height:3px;
        transform: translateX(-100%);
        background-color: red;
      } 


      }

      .project-image {
        display: block;
        width: 100%;
        height: 100%;
        opacity: 0.4;
        transition: var(--transition);

        &:hover {
          opacity: 1;
        }
      }
    }
  }
}
@media screen and (min-width: 768px) {
  .all-projects-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}
@media screen and (min-width: 900px) {
  .all-projects-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
