.my-projects {
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 5rem 2rem;
  text-align: left;
  & h1 {
    color: #24f5dc;
    padding: 2rem;
  }
  & .project {
    padding: 2rem;
  }
}

.project-name {
  text-align: left;
  padding: 0 2rem;
  margin: 0;
  color: white;
}
.project-image-container {
  & img {
    display: block;
    width: 100%;
    object-fit: cover;
    opacity: 0.5;
    transition: var(--transition);
    &:hover {
      opacity: 1;
    }
  }
}
.project-details {
  & .project-text {
    color: white;
    text-align: justify;
    margin-top: 3rem;
  }
}
.skill-btn-container {
  padding-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}
