.about {
  width: 90%;
  // height: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 5rem 3rem;
  // display: grid;
  // place-items: center;
   & h1 {
      text-align: left;
      color: #24f5dc;
      font-weight: bold;
    }
}
.about-text {
  text-align:justify;
  color:white;
  font-weight: 300;
 
    & p {
    text-transform: none;
  }
}
