.shake{
   animation: shake 1s linear 1 forwards;
}

// onMouseEnter={addShake}
//         onMouseLeave={removeShake}

@keyframes shake {
  10% {
    transform: scale(1.1,0.9);
  }
  20% {
    transform: scale(1,1);
  }
 
  30% {
    transform: scale(1.08,0.991);
  }
  40% {
    transform: scale(1,1);
  }
  50% {
    transform: scale(1.06,0.94);
  }
  60% {
    transform: scale(1,1);
  }
  70% {
    transform: scale(1.04,0.96);
  }
  75% {
    transform: scale(1,1);
  }
  80% {
    transform: scale(1.03,0.97);
  }
  85% {
    transform: scale(1,1);
  }
  90% {
    transform: scale(1.02,0.98);
  }
  80% {
    transform: scale(1,1);
  }
  90% {
    transform: scale(1.01,0.99);
  }
  95% {
    transform: scale(1.005,0.995);
  }
  100%{
    transform: scale(1,1);
  }
}
